{% extends 'PatientBase.html' %}
{% load static %}
{% block content %}
<h4> Welcome {{username}}</h4><br>

  <form method="post">
    {% csrf_token %}

  <table class="table align-left mb-4 bg-white" style="margin-left:180px; border: 1px solid #2baab1; margin-top:12px;">
  <thead class="bg-light">
    Your Profile
  </thead>
  <tbody>
    {% for i in items %}

      <tr>

        <div class="d-flex align-items-center">
          <img
              src="{{i.ProfileImg.url}}"
              alt=""
              style="width: 145px; height: 145px"
              class="rounded-circle"
              />
      </tr>
    <tr>
          <div class="ms-3">
            <p class="fw-bold mb-2">{{i.FirstName}} {{i.LastName}}</p>

          </div>
        </div>

    </tr>
    <tr>
        <p class="fw-normal mb-2">{{i.EmailId}}</p>
    </tr>

       <tr>
        <p class="fw-normal mb-2">{{i.PhoneNumber}}</p>

      </tr>
       <tr>
        <p class="fw-normal mb-2">{{i.Address}}</p>

      </tr>



  {% endfor %}
  </tbody>

  </table>
  </form>
{% endblock %}