{% extends 'PatientBase.html' %}
{% load static %}
{% block content %}
<h4> Welcome {{username}}</h4><br>

  <form method="post">
    {% csrf_token %}

  <table class="table bg-white" style="margin-left:10px; border: 1px solid #2baab1; margin-top:12px; width:500px">
  <thead class="bg-light">
    Your Profile
  </thead>
  <tbody>
    {% for i in items %}

      <tr>

        <div class="d-flex align-items-center">
          <img
              src="{{i.ProfileImg.url}}"
              alt=""
              style="width: 145px; height: 145px"
              class="rounded-circle"
              />
        </div>
      </tr>
  <tr>
        <td>
           <h5> Patient Name:</h5>
        </td>
 <td>
     <h6> &nbsp &nbsp{{i.FirstName}} {{i.LastName}}</h6>

       </td>


    </tr>
    <tr>
        <td>
            <h5> EmailID </h5>
        </td>
        <td>
            <h6> &nbsp &nbsp{{i.EmailId}}</h6>
        </td>
    </tr>

       <tr>
           <td>
               <h5>Phone Number</h5>
           </td>
           <td>
         <h6> &nbsp &nbsp{{i.PhoneNumber}}</h6>
</td>
      </tr>
       <tr>
           <td>
               <h5> Address </h5>
           </td>
           <td>
         <h6> &nbsp &nbsp{{i.Address}}<h6>
       </td>
      </tr>



  {% endfor %}
  </tbody>

  </table>
  </form>
{% endblock %}